In [1]:
import pandas as pd
import numpy as np
import sqlite3
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("netflix data C W project.csv")
data

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2316353.0,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH..."
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
...,...,...,...,...,...,...,...,...
20143,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"AL, AZ, BA, BG, BY, CY, EE, FR, GF, HU, IT, LT..."
20144,NaN,tv,Drama,2024.0,NaN,NaN,NaN,"AO, CI, CM, CV, GH, GQ, KE, MG, ML, MU, MZ, NE..."
20145,NaN,tv,"Animation, Action & Adventure",2016.0,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20146,NaN,tv,NaN,NaN,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20147,Blippi's Ultimate Bounce House Challenges,tv,NaN,2024.0,tt33769880,NaN,NaN,"AG, AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ..."

In [3]:
df = pd.DataFrame(data)
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2316353.0,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH..."
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
...,...,...,...,...,...,...,...,...
20143,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"AL, AZ, BA, BG, BY, CY, EE, FR, GF, HU, IT, LT..."
20144,NaN,tv,Drama,2024.0,NaN,NaN,NaN,"AO, CI, CM, CV, GH, GQ, KE, MG, ML, MU, MZ, NE..."
20145,NaN,tv,"Animation, Action & Adventure",2016.0,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20146,NaN,tv,NaN,NaN,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20147,Blippi's Ultimate Bounce House Challenges,tv,NaN,2024.0,tt33769880,NaN,NaN,"AG, AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20148 entries, 0 to 20147
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19632 non-null  object
 1   type                20148 non-null  object
 2   genres              19886 non-null  object
 3   releaseYear         20133 non-null  float64
 4   imdbId              18868 non-null  object
 5   imdbAverageRating   18727 non-null  float64
 6   imdbNumVotes        18727 non-null  float64
 7   availableCountries  20148 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.2+ MB

In [5]:
# Drop rows with no title or release year
df = df.dropna(subset=['title', 'releaseYear'])

In [6]:
# Fill missing rating with a placeholder
df['rating'] = df['imdbAverageRating'].fillna('Not Rated')
df.drop("imdbAverageRating" , axis = 1 )

,title,type,genres,releaseYear,imdbId,imdbNumVotes,availableCountries,rating
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,2316353.0,MX,8.8
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,517121.0,"AT, CH, DE",7.6
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2
...,...,...,...,...,...,...,...,...
20131,The Manhattan Alien Abduction,tv,Documentary,2024.0,tt33506347,908.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",5.3
20133,Children of the Church Steps,tv,"Drama, History, Thriller",2024.0,tt22459584,182.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",6.6
20136,Don't Come Home,tv,"Drama, Horror, Mystery",2024.0,tt31158589,987.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.3
20140,The Evolution of Black British Music,tv,"Documentary, Music",2022.0,tt27912029,17.0,"BM, GB, GG, GI, IE, TC",7.2
20147,Blippi's Ultimate Bounce House Challenges,tv,NaN,2024.0,tt33769880,NaN,"AG, AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ...",Not Rated

# Handling Missing IMDb Ratings

Many entries in the dataset have missing IMDb ratings. To ensure consistency and avoid issues during analysis or visualization, these missing values were replaced with the placeholder `'Not Rated'`. This makes it easier to identify unrated titles during analysis without excluding them.

After replacement, the original `imdbAverageRating` column was dropped to keep the dataset clean and avoid redundancy, since all necessary info is now stored in the new `rating` column.

This step is crucial in:
- Preserving all records, even those with incomplete data
- Making future groupings and filtering based on ratings easier
- Ensuring that rating-related visualizations (like bar charts) include the `"Not Rated"` category

In [7]:
df = df.dropna(subset=['imdbNumVotes'])
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries,rating
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2316353.0,MX,8.8
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE",7.6
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2
...,...,...,...,...,...,...,...,...,...
20130,This Is the Zodiac Speaking,tv,"Crime, Documentary",2024.0,tt33480540,7.2,3674.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.2
20131,The Manhattan Alien Abduction,tv,Documentary,2024.0,tt33506347,5.3,908.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",5.3
20133,Children of the Church Steps,tv,"Drama, History, Thriller",2024.0,tt22459584,6.6,182.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",6.6
20136,Don't Come Home,tv,"Drama, Horror, Mystery",2024.0,tt31158589,7.3,987.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.3
20140,The Evolution of Black British Music,tv,"Documentary, Music",2022.0,tt27912029,7.2,17.0,"BM, GB, GG, GI, IE, TC",7.2

In [8]:
# Normalize genres (listed_in) to a list format
df['genres'] = df['genres'].apply(lambda x: [genre.strip('') for genre in x.split(',')] if isinstance(x, str) else x)
df = df.dropna(subset=['genres'])
df.head(10)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries,rating
0,Forrest Gump,movie,"[Drama, Romance]",1994.0,tt0109830,8.8,2316353.0,MX,8.8
1,The Fifth Element,movie,"[Action, Adventure, Sci-Fi]",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE",7.6
2,Kill Bill: Vol. 1,movie,"[Action, Crime, Thriller]",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2
3,Jarhead,movie,"[Biography, Drama, War]",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0
4,Unforgiven,movie,"[Drama, Western]",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2
5,Eternal Sunshine of the Spotless Mind,movie,"[Drama, Romance, Sci-Fi]",2004.0,tt0338013,8.3,1103711.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...",8.3
6,Amores Perros,movie,"[Drama, Thriller]",2000.0,tt0245712,8.0,256582.0,"AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, CU...",8.0
7,A History of Violence,movie,"[Action, Crime, Drama]",2005.0,tt0399146,7.4,258997.0,"AD, CA, ES, GB, GG, IE, PT",7.4
8,2001: A Space Odyssey,movie,"[Adventure, Sci-Fi]",1968.0,tt0062622,8.3,735115.0,"AU, NZ",8.3
9,Talk to Her,movie,"[Drama, Mystery, Romance]",2002.0,tt0287467,7.9,118711.0,"AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, EC...",7.9

In [9]:
# Normalize country availability to a list
df['countries'] = df['availableCountries'].fillna('').apply(lambda x: [country.strip() for country in x.split(',') if country.strip()])
df.head(10)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries,rating,countries
0,Forrest Gump,movie,"[Drama, Romance]",1994.0,tt0109830,8.8,2316353.0,MX,8.8,[MX]
1,The Fifth Element,movie,"[Action, Adventure, Sci-Fi]",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE",7.6,"[AT, CH, DE]"
2,Kill Bill: Vol. 1,movie,"[Action, Crime, Thriller]",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2,"[AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, C..."
3,Jarhead,movie,"[Biography, Drama, War]",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0,"[AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, B..."
4,Unforgiven,movie,"[Drama, Western]",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2,"[AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, R..."
5,Eternal Sunshine of the Spotless Mind,movie,"[Drama, Romance, Sci-Fi]",2004.0,tt0338013,8.3,1103711.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...",8.3,"[AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, B..."
6,Amores Perros,movie,"[Drama, Thriller]",2000.0,tt0245712,8.0,256582.0,"AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, CU...",8.0,"[AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, C..."
7,A History of Violence,movie,"[Action, Crime, Drama]",2005.0,tt0399146,7.4,258997.0,"AD, CA, ES, GB, GG, IE, PT",7.4,"[AD, CA, ES, GB, GG, IE, PT]"
8,2001: A Space Odyssey,movie,"[Adventure, Sci-Fi]",1968.0,tt0062622,8.3,735115.0,"AU, NZ",8.3,"[AU, NZ]"
9,Talk to Her,movie,"[Drama, Mystery, Romance]",2002.0,tt0287467,7.9,118711.0,"AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, EC...",7.9,"[AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, E..."

#  Normalize Genre Information

The `genres` column (previously `listed_in`) contains multiple genres in a single string, separated by commas. To enable easier filtering, analysis, and visualization, we normalize this column by:
- Splitting the string into a list of individual genres
- Stripping extra spaces from each genre
- Dropping rows with missing genre data

This results in a structured `genres` column where each entry is a list of clean genre names.

In [10]:
# Drop duplicates based on show_id
df = df.drop_duplicates(subset=['imdbId'])
df.head(10)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries,rating,countries
0,Forrest Gump,movie,"[Drama, Romance]",1994.0,tt0109830,8.8,2316353.0,MX,8.8,[MX]
1,The Fifth Element,movie,"[Action, Adventure, Sci-Fi]",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE",7.6,"[AT, CH, DE]"
2,Kill Bill: Vol. 1,movie,"[Action, Crime, Thriller]",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2,"[AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, C..."
3,Jarhead,movie,"[Biography, Drama, War]",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0,"[AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, B..."
4,Unforgiven,movie,"[Drama, Western]",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2,"[AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, R..."
5,Eternal Sunshine of the Spotless Mind,movie,"[Drama, Romance, Sci-Fi]",2004.0,tt0338013,8.3,1103711.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...",8.3,"[AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, B..."
6,Amores Perros,movie,"[Drama, Thriller]",2000.0,tt0245712,8.0,256582.0,"AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, CU...",8.0,"[AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, C..."
7,A History of Violence,movie,"[Action, Crime, Drama]",2005.0,tt0399146,7.4,258997.0,"AD, CA, ES, GB, GG, IE, PT",7.4,"[AD, CA, ES, GB, GG, IE, PT]"
8,2001: A Space Odyssey,movie,"[Adventure, Sci-Fi]",1968.0,tt0062622,8.3,735115.0,"AU, NZ",8.3,"[AU, NZ]"
9,Talk to Her,movie,"[Drama, Mystery, Romance]",2002.0,tt0287467,7.9,118711.0,"AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, EC...",7.9,"[AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, E..."

In [11]:
df.dtypes

title                  object
type                   object
genres                 object
releaseYear           float64
imdbId                 object
imdbAverageRating     float64
imdbNumVotes          float64
availableCountries     object
rating                 object
countries              object
dtype: object

In [12]:
# Clean column names to snake_case for SQL
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
df.head(10)

,title,type,genres,releaseyear,imdbid,imdbaveragerating,imdbnumvotes,availablecountries,rating,countries
0,Forrest Gump,movie,"[Drama, Romance]",1994.0,tt0109830,8.8,2316353.0,MX,8.8,[MX]
1,The Fifth Element,movie,"[Action, Adventure, Sci-Fi]",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE",7.6,"[AT, CH, DE]"
2,Kill Bill: Vol. 1,movie,"[Action, Crime, Thriller]",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2,"[AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, C..."
3,Jarhead,movie,"[Biography, Drama, War]",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0,"[AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, B..."
4,Unforgiven,movie,"[Drama, Western]",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2,"[AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, R..."
5,Eternal Sunshine of the Spotless Mind,movie,"[Drama, Romance, Sci-Fi]",2004.0,tt0338013,8.3,1103711.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...",8.3,"[AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, B..."
6,Amores Perros,movie,"[Drama, Thriller]",2000.0,tt0245712,8.0,256582.0,"AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, CU...",8.0,"[AG, AR, BB, BM, BO, BR, BS, BZ, CL, CO, CR, C..."
7,A History of Violence,movie,"[Action, Crime, Drama]",2005.0,tt0399146,7.4,258997.0,"AD, CA, ES, GB, GG, IE, PT",7.4,"[AD, CA, ES, GB, GG, IE, PT]"
8,2001: A Space Odyssey,movie,"[Adventure, Sci-Fi]",1968.0,tt0062622,8.3,735115.0,"AU, NZ",8.3,"[AU, NZ]"
9,Talk to Her,movie,"[Drama, Mystery, Romance]",2002.0,tt0287467,7.9,118711.0,"AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, EC...",7.9,"[AG, AR, BB, BO, BR, BZ, CL, CO, CR, CU, DO, E..."

# Clean Column Names

# Standardize column names to snake_case for consistency and easier acceaning:

Improved Code Readability: Using snake_case aligns with Python naming conventions, making it easier to work with DataFrame columns programmatically.

Avoid Future Errors: By removing spaces and converting to lowercase, we reduce the chances of runtime errors due to inconsistent naming (e.g., df['Column Name'] vs df['column_name']).

Prepared for SQL-style Queries: While not using SQL directly here, having clean names supports pandasql or exporting the data to SQL databases later.

Initial Data Exploration: Displaying the first 10 rows allows for:

A quick glance at the data's structure.

Early detection of data quality issues (e.g., missing values, outliers).

Familiarization with column types and potential categorical/numerical splits.

In [13]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (2.0.37)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [14]:
from sqlalchemy import create_engine

# Replace the values below with your actual MySQL credentials
username = 'root'         # your MySQL username
password = '998629' # your MySQL password
host = 'localhost'        # or 127.0.0.1
port = 3306               # default MySQL port
database = 'netflixproject'      # make sure this DB exists

# Create the SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Connect to MySQL Database


Database Connectivity Established: A connection has been successfully configured to the netflixproject MySQL database using SQLAlchemy.

Secure Credential Handling (Recommendation): While credentials are hardcoded here for simplicity, it's recommended to use environment variables or a .env file in production environments to enhance security.

Reusability & Flexibility: The engine object can now be used with pandas (pd.read_sql) to run SQL queries directly and fetch data into DataFrames for analysis.

Cross-Platform Integration: SQLAlchemy provides a powerful bridge between SQL and Python, enabling the blending of SQL querying with pandas data manipulation and visualization.

Next Step Guidance: Now that the connection is ready, you can:

Inspect available tables.

Load specific tables into DataFrames.

Run SQL queries and perform data analysis directly from the notebook.

In [15]:
engine = create_engine("mysql+pymysql://root:998629@localhost:3306/netflixproject")

In [16]:
df.head()

,title,type,genres,releaseyear,imdbid,imdbaveragerating,imdbnumvotes,availablecountries,rating,countries
0,Forrest Gump,movie,"[Drama, Romance]",1994.0,tt0109830,8.8,2316353.0,MX,8.8,[MX]
1,The Fifth Element,movie,"[Action, Adventure, Sci-Fi]",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE",7.6,"[AT, CH, DE]"
2,Kill Bill: Vol. 1,movie,"[Action, Crime, Thriller]",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",8.2,"[AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, C..."
3,Jarhead,movie,"[Biography, Drama, War]",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",7.0,"[AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, B..."
4,Unforgiven,movie,"[Drama, Western]",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",8.2,"[AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, R..."

In [17]:
list_columns = ['genres', 'availablecountries', 'countries']
for col in list_columns:
    df[col] = df[col].astype(str)

In [18]:
df.to_sql('netflix', con=engine, if_exists='replace', index=False)

18723

In [19]:
df.tail(10)

,title,type,genres,releaseyear,imdbid,imdbaveragerating,imdbnumvotes,availablecountries,rating,countries
20115,My Dress-Up Darling,tv,"['Comedy', ' Romance']",2024.0,tt33303711,6.6,15.0,"FJ, HK, ID, JP, KR, MY, PH, SG, TH, TW",6.6,"['FJ', 'HK', 'ID', 'JP', 'KR', 'MY', 'PH', 'SG..."
20119,Blood Legacy,tv,"['Drama', ' Thriller']",2024.0,tt33344252,7.4,107.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.4,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20120,Chef's Table: Noodles,tv,['Documentary'],2024.0,tt33323674,7.5,225.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.5,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20123,The Comeback: 2004 Boston Red Sox,tv,"['Documentary', ' Sport']",2024.0,tt33356012,8.7,58.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",8.7,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20128,Making It in Marbella,tv,['Reality-TV'],2024.0,tt31828643,4.5,148.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",4.5,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20130,This Is the Zodiac Speaking,tv,"['Crime', ' Documentary']",2024.0,tt33480540,7.2,3674.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.2,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20131,The Manhattan Alien Abduction,tv,['Documentary'],2024.0,tt33506347,5.3,908.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",5.3,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20133,Children of the Church Steps,tv,"['Drama', ' History', ' Thriller']",2024.0,tt22459584,6.6,182.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",6.6,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20136,Don't Come Home,tv,"['Drama', ' Horror', ' Mystery']",2024.0,tt31158589,7.3,987.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...",7.3,"['AD', 'AE', 'AG', 'AL', 'AO', 'AR', 'AT', 'AU..."
20140,The Evolution of Black British Music,tv,"['Documentary', ' Music']",2022.0,tt27912029,7.2,17.0,"BM, GB, GG, GI, IE, TC",7.2,"['BM', 'GB', 'GG', 'GI', 'IE', 'TC']"